*
!.gitmodules
!.abbrev_defs
!.bash_aliases
!.bash_path
!.bash_profile
!.bash_vars
!.bashrc
!.cshrc
!.emacs
!.emacs.d/*
!.exrc
!.gitignore
!.gvimrc
!.inputrc
!.irbrc
!.profile_local
!.railsrc
!.screenrc
*elc
!.emacs.d/packages/*
