*
!.abbrev_defs
!arch/*
!.bash_aliases
!.bash_path
!.bash_profile
!.bash_vars
!.bashrc
!.cshrc
*elc
!.emacs.d/*
!.emacs.d/ini/*
!.emacs.d/packages/*
!.emacs.d/snippets/contrib/*
!.exrc
!.gitignore
!.gitmodules
!.gvimrc
!.inputrc
!.irbrc
!.profile_local
!.railsrc
!.screenrc
!.zshrc
!.zshenv
