[submodule ".emacs.d/packages/magit"]
	path = .emacs.d/packages/magit
	url = git@github.com:gary/magit.git
[submodule ".emacs.d/snippets/contrib/yasnippets-rails"]
	path = .emacs.d/snippets/contrib/yasnippets-rails
	url = git@github.com:gary/yasnippets-rails.git
[submodule ".emacs.d/snippets/contrib/yasnippets-rspec"]
	path = .emacs.d/snippets/contrib/yasnippets-rspec
	url = git@github.com:gary/yasnippets-rspec.git
