[core]
        excludesFile = /Users/giams/src/gitignore/Global/Emacs.gitignore
        disambiguate = committish
        ignorecase = false

[apply]
        whitespace = warn

[color]
	ui = true
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
        whitespace      = red reverse
[color "status"]
        added = yellow
        changed = green
        untracked = cyan

[push]
        # Only push branches that have been set up to track a remote branch.
	default = matching

[rerere]
	enabled = true

[alias]
        co = checkout
        current-branch = !git symbolic-ref -q HEAD | sed -e 's|^refs/heads/||'
        # Log display from screencast, with train tracks.
        l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
        # Alternate log display from Scott Chacon
        lol = log --pretty=oneline --abbrev-commit --graph --decorate
        # Other useful aliases:
        staged = diff --cached
        # Usage: git track origin/feature-123-login-form
        track = checkout -t
        unstage = reset HEAD
        unstaged = diff
[branch]
	autosetuprebase = always

[hub]
	protocol = https

[github] # magithub
	user = gary

[user]
	name = Gary Iams

[includeIf "gitdir:~/src/"]
	path = .gitconfig-home
[includeIf "gitdir:~/work/"]
	path = .gitconfig-work

[github "encrypted"]
	oauth-token = U2FsdGVkX19T2Ia7gdRkfrbjIZc+ANwvtlNVlK5UkBsYfFqbwcBqKfBop6kcrVZkAXohEuPZCVao562LJLvAWw==
